.vscode/**
.vscode-test/**
src/**
.gitignore
.eslintrc.json
tsconfig.json
webpack.config.js
.github/**
node_modules/**
!node_modules/@vscode/codicons/dist/codicon.ttf
!node_modules/@vscode/codicons/dist/codicon.css
*.vsix
*.md
!README.md
!CHANGELOG.md
